<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/warning.css">
    <title>Rede Social(Pets)</title>
</head>
<body>
    <header>
        <h1 class="logo">Petzbook</h1>

        <ul>
            <li><a href="{{ url_for('home')}} ">Início</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </header>

    <section>
        <h1>Login Inválido</h1>
    </section>
</body>
</html>